main {
    
    background-image: url(img/tree.jpg);
    background-repeat: repeat;
    padding: 40px calc(50% - 620px);
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.cards-container a {
    color: black;
    text-decoration: none;

}



