.logo__pic{
    width: 100px;
    height: 100px;

}
.logo{
    text-decoration: none;
    text-align: end;
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}
.logoText{
    text-decoration: none;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    
}
.logoSmall{
    font-size: 18px;
}

.logo.small .logo__pic {
    width: 50px;
    height: 50px;
}
