.card {
    background-color: white;
    padding: 18px;
    border-radius: 0;
    box-shadow: 2px 2px 10px 0 #0008;
    display: grid;
    gap: 10px;
    position: relative;
    cursor: pointer;
}
.card__img{
    height: 250px;
    border-radius: 0;
    box-shadow: 5px 5px 10px 0 #0008;
    margin-right: 15px;
    margin-left: 15px;
    /* margin-top: 20px; */
}
.name__avtor{
    font-weight: bold;
    font-size: 1.2em;

}
.card__title{
    margin-left:15px;
}
.img__wing {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: calc(50% - 10px )
}
.card__like{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}