@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.searchItem{
	padding: 20px calc(50% - 620px);
}
.logout {
	cursor: pointer;
	background-color: #4682B4;
	border: 2px #0005 outset;
	border-radius: 8px;
	padding: 5px 30px;
	box-shadow:2px 2px 10px 0 #0008; 

}
.logout:hover{
	background-color:  rgb(72, 212, 212);
}
.page-container{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}
.page-numbers{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 33px;
	border: 1px solid;
	border-radius: 8px;
	box-shadow:2px 2px 10px 0 #0008;
	cursor: pointer;
}
.page-numbers.current{
	background-color: #4683b477;
	
}
.button {
	cursor: pointer;
	background-color: #4682B4;
	border: 2px #0005 outset;
	border-radius: 8px;
	padding: 5px 30px;
	box-shadow:2px 2px 10px 0 #0008; 
	

}
.button:hover{
	background-color:  rgb(72, 212, 212);
}



