@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.searchItem{
	padding: 20px calc(50% - 620px);
}



